In [1]:
import dask.dataframe as dd
from dask.distributed import Client
from funciones.transformations import day_mapper, month_mapper
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('max_rows', 500)
pd.set_option('max_columns', 500)

In [2]:
client = Client()
client

In [3]:
dtypes = {'id': 'category', 'canal': 'category', 'disposit': 'category', 'cdgtrn': 'category', 'cdgrpta': 'category',
          'sesion': 'category', 'var_rpta': 'category', 'segmento': 'category','grupo_descrp_trxn': 'category',
          'descrip_trxn': 'category', 'clasif_trxn': 'category','descripcion_grupo': 'category',
          'descrip_cod_rpta': 'category','clasif_cod_rpta': 'category','grupo_modifcado': 'category',
          'culpa_banco': 'category', 'producto_asociado': 'category'}

train_trx = dd.read_csv('data/trxmaestrorta.csv', sep=';',
                        parse_dates=['fecha_trxn'], dtype=dtypes)

train_trx.head(3).append(train_trx.tail(3))

,id,fecha_trxn,canal,disposit,cdgtrn,cdgrpta,vlrtran,sesion,f_analisis,var_rpta,segmento,grupo_descrp_trxn,descrip_trxn,clasif_trxn,descripcion_grupo,descrip_cod_rpta,clasif_cod_rpta,grupo_modifcado,culpa_banco,producto_asociado
0,50578,2016-02-27 11:18:00.465900,CANAL_5,DISPOSIT_4,369,0,0.0,94,NaN,NaN,NaN,Logueo Para Transacciones,Logueo Para Transacciones,No Financiera,Autenticacion,Transaccion Exitosa,Exitosa,Autenticaciones,NaN,Sin producto
1,50578,2016-02-26 14:25:00.165800,CANAL_5,DISPOSIT_4,356,0,0.0,93,NaN,NaN,NaN,Consulta De Saldo Deposito,Consulta De Saldos Consolidados,No Financiera,Consultas / Movimientos / Extractos,Transaccion Exitosa,Exitosa,Consultas / Movimientos / Extractos,NaN,Tarjeta Debito
2,50578,2016-02-26 14:25:00.058900,CANAL_5,DISPOSIT_4,369,0,0.0,93,NaN,NaN,NaN,Logueo Para Transacciones,Logueo Para Transacciones,No Financiera,Autenticacion,Transaccion Exitosa,Exitosa,Autenticaciones,NaN,Sin producto
257626,50578,2016-02-29 14:51:00.510700,CANAL_5,DISPOSIT_4,356,0,0.0,95,NaN,NaN,NaN,Consulta De Saldo Deposito,Consulta De Saldos Consolidados,No Financiera,Consultas / Movimientos / Extractos,Transaccion Exitosa,Exitosa,Consultas / Movimientos / Extractos,NaN,Tarjeta Debito
257627,50578,2016-02-29 14:51:00.283600,CANAL_5,DISPOSIT_4,369,0,0.0,95,NaN,NaN,NaN,Logueo Para Transacciones,Logueo Para Transacciones,No Financiera,Autenticacion,Transaccion Exitosa,Exitosa,Autenticaciones,NaN,Sin producto
257628,50578,2016-02-27 11:19:00.491300,CANAL_5,DISPOSIT_4,356,0,0.0,94,NaN,NaN,NaN,Consulta De Saldo Deposito,Consulta De Saldos Consolidados,No Financiera,Consultas / Movimientos / Extractos,Transaccion Exitosa,Exitosa,Consultas / Movimientos / Extractos,NaN,Tarjeta Debito

In [4]:
train_trx.dtypes

id                         category
fecha_trxn           datetime64[ns]
canal                      category
disposit                   category
cdgtrn                     category
cdgrpta                    category
vlrtran                     float64
sesion                     category
f_analisis                  float64
var_rpta                   category
segmento                   category
grupo_descrp_trxn          category
descrip_trxn               category
clasif_trxn                category
descripcion_grupo          category
descrip_cod_rpta           category
clasif_cod_rpta            category
grupo_modifcado            category
culpa_banco                category
producto_asociado          category
dtype: object

In [5]:
train_trx['clasif_cod_rpta'] = train_trx['clasif_cod_rpta'].replace('No Considerar', 'No considerar')
train_trx['year'] = train_trx['fecha_trxn'].dt.year
train_trx['month'] = train_trx['fecha_trxn'].dt.month
train_trx['day'] = train_trx['fecha_trxn'].dt.day
train_trx['week_day'] = train_trx['fecha_trxn'].dt.weekday
train_trx['hour'] = train_trx['fecha_trxn'].dt.hour
train_trx['minute'] = train_trx['fecha_trxn'].dt.minute
train_trx['semester'] = train_trx['month'].apply(month_mapper, meta=('month', 'object'))
train_trx['dia_semana'] = train_trx['week_day'].apply(day_mapper, meta=('week_day', 'object'))

train_trx.head(3).append(train_trx.tail(3))

,id,fecha_trxn,canal,disposit,cdgtrn,cdgrpta,vlrtran,sesion,f_analisis,var_rpta,segmento,grupo_descrp_trxn,descrip_trxn,clasif_trxn,descripcion_grupo,descrip_cod_rpta,clasif_cod_rpta,grupo_modifcado,culpa_banco,producto_asociado,year,month,day,week_day,hour,minute,semester,dia_semana
0,50578,2016-02-27 11:18:00.465900,CANAL_5,DISPOSIT_4,369,0,0.0,94,NaN,NaN,NaN,Logueo Para Transacciones,Logueo Para Transacciones,No Financiera,Autenticacion,Transaccion Exitosa,Exitosa,Autenticaciones,NaN,Sin producto,2016,2,27,5,11,18,primer semestre,semana
1,50578,2016-02-26 14:25:00.165800,CANAL_5,DISPOSIT_4,356,0,0.0,93,NaN,NaN,NaN,Consulta De Saldo Deposito,Consulta De Saldos Consolidados,No Financiera,Consultas / Movimientos / Extractos,Transaccion Exitosa,Exitosa,Consultas / Movimientos / Extractos,NaN,Tarjeta Debito,2016,2,26,4,14,25,primer semestre,semana
2,50578,2016-02-26 14:25:00.058900,CANAL_5,DISPOSIT_4,369,0,0.0,93,NaN,NaN,NaN,Logueo Para Transacciones,Logueo Para Transacciones,No Financiera,Autenticacion,Transaccion Exitosa,Exitosa,Autenticaciones,NaN,Sin producto,2016,2,26,4,14,25,primer semestre,semana
257626,50578,2016-02-29 14:51:00.510700,CANAL_5,DISPOSIT_4,356,0,0.0,95,NaN,NaN,NaN,Consulta De Saldo Deposito,Consulta De Saldos Consolidados,No Financiera,Consultas / Movimientos / Extractos,Transaccion Exitosa,Exitosa,Consultas / Movimientos / Extractos,NaN,Tarjeta Debito,2016,2,29,0,14,51,primer semestre,semana
257627,50578,2016-02-29 14:51:00.283600,CANAL_5,DISPOSIT_4,369,0,0.0,95,NaN,NaN,NaN,Logueo Para Transacciones,Logueo Para Transacciones,No Financiera,Autenticacion,Transaccion Exitosa,Exitosa,Autenticaciones,NaN,Sin producto,2016,2,29,0,14,51,primer semestre,semana
257628,50578,2016-02-27 11:19:00.491300,CANAL_5,DISPOSIT_4,356,0,0.0,94,NaN,NaN,NaN,Consulta De Saldo Deposito,Consulta De Saldos Consolidados,No Financiera,Consultas / Movimientos / Extractos,Transaccion Exitosa,Exitosa,Consultas / Movimientos / Extractos,NaN,Tarjeta Debito,2016,2,27,5,11,19,primer semestre,semana

In [6]:
# len(train_trx)

In [7]:
# to_categorical = ['year', 'month', 'week_day', 'clasif_cod_rpta', 'semester', 'dia_semana']
# train_trx = train_trx.categorize(columns=to_categorical)

In [8]:
# year = train_trx.pivot_table(index='id', columns='year', values='canal' , aggfunc='count').compute()
# 
# month = train_trx.pivot_table(index='id', columns='month', values='canal', aggfunc='count').compute()
# 
# week_day = train_trx.pivot_table(index='id', columns='week_day', values='canal', aggfunc='count').compute()
# 
# trx_exitosa = train_trx.pivot_table(index='id', columns='clasif_cod_rpta',
#                                     values='canal', aggfunc='count').compute()
# 
# canales = train_trx.pivot_table(index='id', columns='canal', values='canal', aggfunc='count').compute()
# 
# dispositivo = train_trx.pivot_table(index='id', columns='disposit', values='canal', aggfunc='count').compute()
# 
# trx_financiera = train_trx.pivot_table(index='id', columns='clasif_trxn', values='canal', aggfunc='count').compute()

In [9]:
# canal = train_trx.groupby('id').canal.count().compute()
# 
# sesion = train_trx.groupby('id').sesion.count().compute()

In [10]:
# print(f'El tipo de dato de year es: {type(year)}')
# print(f'El tipo de dato de month es: {type(month)}')
# print(f'El tipo de dato de week_day es: {type(week_day)}')
# 
# 
# month = pd.DataFrame(month.to_records())
# month.columns = ['id', 'm2', 'm1', 'm12','m11', 'm10', 'm9', 'm3','m4', 'm7', 'm8', 'm6', 'm5']
# week_day = pd.DataFrame(week_day.to_records())
# week_day.columns=['id','wd5','wd4','wd3','wd2','wd0','wd1','wd6']

In [11]:
# data = pd.concat([year, month, week_day], axis=1)
# print(f'El conjunto de datos tiene {data.shape[0]} observaciones, y {data.shape[1]} columnas. \n')
# data.head(3).append(data.tail(3))